.source {
    margin: 0 !important;;
    padding: 0 !important;
    border: none !important;
}

.source .source {
    margin: 1em 7px !important;;
    padding: 12px !important;;
    border: 1px solid #999999 !important;
    overflow: auto;
}